.searched-container {
	max-width: 100vw;
	padding: 0rem 2rem 2rem 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--dark);
	padding-top: 10rem;
	padding-bottom: 7rem;
}

.searched-container h3 {
	font-style: italic;
	color: var(--dark);
	padding: 2rem;
	width: 100vw;
	text-align: center;
	background: rgb(240, 87, 45);
	background: radial-gradient(
		circle,
		#f0572d,
		#df4f27,
		#cd4621,
		#bd3e1b,
		#ac3615
	);
}

.searched-cards {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.searched-card {
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

@media (max-width: 768px) {
	.searched-cards {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}

	.instrument-card {
		width: 15rem !important;
		height: 20rem !important;
	}

	.instrument-card-text {
		color: var(--dark);
	}

	.card-image {
		width: 10rem;
		height: 10rem;
		overflow: hidden;
	}
}

@media (max-width: 480px) {
	.card-image {
		width: 15rem;
		height: 16.5rem;
		overflow: hidden;
	}

	.searched-card {
		margin-bottom: 4rem;
	}

	.instrument-card {
		width: 80vw !important;
		height: 23rem !important;
		margin: 0px;
		padding: 0px;
		border: 0px;
	}
}
